/node_modules
/public/build
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
/bootstrap/cache/*
/storage/app/public/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/database/*.sqlite
/database/*.sqlite-journal
/database/*.sqlite-shm
/database/*.sqlite-wal
.phpunit.result.cache
.project
.vscode
